.tags a {
    margin-right: 10px;
    text-decoration: none;
    /* color: blue; */
}

.tags a:hover {
    font-weight: bold;
    text-decoration: underline;
}


#book-list {
    /* Remove default list styles */
    /* list-style-type: none; */
    padding: 0;
}