body{
    text-align: center;
    font-family: sans-serif;
    line-height: 1.5;
    /* text color & size changed to make it less aggressive on the eye */
    font-size: 17px;
    color: #333;
    /* Remove margin-left and margin-right for better responsiveness, use percentages or padding */
    padding-left: 10px;
    padding-right: 10px;
}

/* this only applies to large screens */
@media only screen and (min-width: 768px) {
    body {
        padding-left: 200px; /* Adjust padding for larger screens */
        padding-right: 200px; /* Adjust padding for larger screens */
    }
}

.id_pic{    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
}

.socials{
    height: 38px;
    width: 38px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 50%;
}

nav{
    margin-top: 10px;
}

nav a {
    padding: 5px;
}


.dark_mode{
    background-color: #333;
    color: white;
}

body.dark_mode nav a {
/* White color for dark mode */
    color: white; 
}


h1 {
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 20px;
}
h2 {
    font-weight: normal;
    font-style: italic;
    color: #999;
    font-size: 18px;
    padding: 0;
    margin: 5px 0 10px 0;
}

.container{
    text-align: justify;
}

.footer{
    /* relative instead of fixed, so that it is responsive */
    position: relative; 
    bottom: 0;
    left : 0;
    right:0;
    padding:10px;

}

/* CSS for contact page */
input[type="text"], textarea {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: blue;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 30px;
}

input[type="submit"]:hover {
    background-color: blue;
}
